@import url(reset.css);

body {
    background-color: white;
}

nav {
    width: 1300px;
    height: 56px;
}


.menu-left {
    width: 30px;
    height: 5vh;
    margin: 20px 10px 10px 20px;
}

.menu-left span {
    display: block;
    background-color: black;
    width: 25px;
    height: 1px;
    margin: 6px;
}

#img-youtube {
    position: relative;
    top: -25px;
    left: 60px;
}

.Menu-center {
    position: relative;
    margin: -8vh 90vh 0px 70vh;
    padding: 5px;
    
}

.Barra-pesquisa a {
    align-items: center;
    background-color: blue;
}

.Barra-pesquisa i {
    cursor: pointer;
}

.Text {
   font-size: 20px;
   width: 400px;
   height: 30px;
}

.Menu-center .Lupa {
    display: flex;
    margin: -33.7px 10px 0px 64vh;
    background-color: #ebe9e9;
    border: 1px solid rgb(148, 146, 146);
}

.Menu-right {
    display: flex;
    justify-content: right;
}

.icon-filmadora {
    position: absolute;
    left: 114vh;
    top: 2.1vh;
}

.icon-lembrete {
    position: absolute;
    left: 122vh;
    top: 2.5vh;
}

.icon-avatar {
    position: absolute;
    left: 130vh;
    top: 2.1vh;
    border-radius: 20px;
}

aside {
    width: 30vh;
    height: 85vh;
    background-color: white;
}


.img-Home {
    position: absolute;
    padding: 25px;
    top: 8vh;
}

.Home {
    font-size: 14px;
    font-weight: 600;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Explorar-img {
    position: absolute;
    padding: 25px;
    top: 14vh;
}

.Explorar {
    font-size: 14px;
    font-weight: 400;
    line-height: 6vh;
    margin-left: 9.5vh;
}

.Inscricoes-img {
    position: absolute;
    padding: 25px;
    top: 20vh;
}

.Inscricoes {
    font-size: 14px;
    font-weight: 400;
    line-height: 6vh;
    margin-left: 9.5vh;
}

.Y-Music-img {
    position: absolute;
    padding: 25px;
    top: 25vh;
}

.Y-Music {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Like-img {
    position: absolute;
    padding: 25px;
    top: 30vh;
}

.Like {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Relogio-img {
    position: absolute;
    padding: 25px;
    top: 35vh;
}

.Relogio {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Download-img {
    position: absolute;
    padding: 25px;
    top: 40vh;
}

.Download {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Filmes-img {
    position: absolute;
    padding: 25px;
    top: 45vh;
}

.Filmes {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Aprender-img {
    position: absolute;
    padding: 25px;
    top: 50vh;
}

.Aprender {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.Premio-img {
    position: absolute;
    padding: 25px;
    top: 55vh;
}

.Premio {
    font-size: 14px;
    font-weight: 400;
    line-height: 5vh;
    margin-left: 9.5vh;
}

.grid-container {
    background-color: #f1f1f1;
    display: grid;
    grid-columns: 20px;
    gap: 50px 100px;
}